:root {
  --blue: #2196f3;
  --dark: #212121;
  --white: #ffffff;
  --broun: #757575;
  --black: #000000;
}

h1,
h2,
h3,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", "Roboto", sans-serif;
}

.header {
  background: var(--white);
  border-bottom: 1px solid #ececec;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.header-span,
.footer-span {
  color: var(--blue);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* header */

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.navigation {
  margin-right: auto;
}

.navigation-list {
  padding-left: 0;
  gap: 50px;
  /* padding: 32px; */
}

.navigation-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
}

.navigation-link:focus {
  color: var(--blue);
}

.navigation-link:hover {
  color: var(--blue);
}

.navigation-link {
  display: block;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding-top: 32px;
  padding-bottom: 32px;
}

.navigation-logo-link {
  font-family: "Raleway";
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--black);
  margin-right: 93px;
}
.navigation-item {
  /* display: flex;
  margin-left: auto;
  width: 16px;
  height: 12px; */
  /* margin-right: 30px; */
  list-style: none;
}
/* .navigation-item:not(:last-child) {
  margin-right: 30px;
} */

/* contacts */
.container-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contacts-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts-social-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--broun);
  list-style-type: none;
  display: flex;
  align-items: center;
}

.contacts-item {
  list-style: none;
}
.contacts-social-item:not(:last-child) {
  margin-right: 30px;
}
/* .cocontacts-item:not(:last-child) {
  margin-right: 10px;
} */

.contacts-link:hover {
  color: var(--blue);
}

.contacts-link {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--broun);
}

.contacts-socials-list {
  display: flex;
}
.contacts-list {
}
.contacts-social-item {
  list-style-type: none;
  text-decoration: none;
  gap: 30px;
}
.contacts-socials-list-first:not(:last-child) {
  margin-right: 30px;
}

.contacts-social-icon-envelop {
  margin-right: 10px;
  fill: var(--broun);
  width: 16px;
  height: 12px;
}

.contacts-social-icon-smartphone {
  fill: var(--broun);
  width: 12px;
  height: 16px;
  margin-right: 10px;
}

.contacts-social-item:hover .contacts-social-link {
  fill: var(--blue);
  color: var(--blue);
}


.contacts-social-link:focus {
  color: #188ce8;
  
}

.contacts-social-link:focus .contacts-social-icon-envelop  {
  color: #188ce8;
  fill: var(--blue);
}
.contacts-social-link:focus .contacts-social-icon-smartphone {
  color: #188ce8;
  fill: var(--blue);
} 

/* main */
/* services */

.services {
  padding-top: 200px;
  padding-bottom: 200px;
  background: #2f303a;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./../img/main.png);
  background-color: #c4c4c4;
  background-position: center;
  background-repeat: no-repeat;
  


}
.services-img {


}

.services-container {
  /* margin-left: auto;
  margin-right: auto; */
}

.services-title {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.services-button {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
  background-color: var(--blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin: 0 auto;
  border: none;
  padding: 10px 32px;
}

.services-button:hover {
  background: #188ce8;
}

.services-button:focus {
  background: #188ce8;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px; */
}

/* features */
.features {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.features-second {
  padding-bottom: 94px;
}

.features-list-second {
  display: flex;
  align-items: flex-start;
  list-style-type: none;
}

.features-second-container {
  /* text-align: center; */
}

.features-item-second {
  /* display: flex; */
}

.features-item {
  flex-basis: calc((100%-90px) / 4);
}

.features-item-second:not(:last-child) {
  margin-right: 30px;
}

.features {
  background: var(--white);
}

.features-title {
  display: block;
  margin-bottom: 10px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.features-text {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--broun);
}

.second-title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
}

.features-social-icon {
  width: 70px;
  height: 70px;
  fill: #f5f4fa;
  padding: 25px 100px;
}
.features-social-item {
  width: 270px;
  height: 120px;
  left: 215px;
  top: 774px;
  justify-content: center;
  background: #f5f4fa;
  border-radius: 4px;
}
.features-social-item:not(:last-child) {
  margin-right: 30px;
}

.features-container {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

/* team */

.team {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  display: flex;
  list-style-type: none;
}

.team-title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
}

.team-pictures {
  background: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-pictures:not(:last-child) {
  margin-right: 30px;
}

.team-name {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
  margin-top: 30px;
  margin-bottom: 10px;
}

.team-position {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--broun);
  margin-bottom: 16px;
}

.team-social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
  padding-bottom: 30px;
}

.team-social-item {
  width: 44px;
  height: 44px;
}

.team-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  border-radius: 50%;
}
.team-social-link:focus {
  background-color: var(--blue);

}
.team-social-link:focus .team-social-icon {
  fill: var(--white);
}


.team-social-link:hover {
  background-color: var(--blue);
}

.team-social-link:hover .team-social-icon {
  fill: var(--white);
}

.team-social-icon {
  width: 20px;
  height: 20px;

  fill: #afb1b8;
}

/* <!-- lean-clients --> */

.lean-clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.lean-clients-title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.lean-clients-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.lean-clients-item:not(:last-child) {
  margin-right: 30px;
}
.lean-clients-link{
  display: flex;
  align-items: center;
  justify-content: center;
  

  width: 170px;
  height: 92px;
  left: 215px;
  top: 2490px;


  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  fill: #afb1b8;


}

.lean-clients-social-icon {
  color: var(--broun);
  width: 106px;
  height: 60px;
 
  fill: #afb1b8;
 
}


.lean-clients-link:hover {
  fill: var(--blue);
  border-color: var(--blue);
}

.lean-clients-link:hover .lean-clients-social-icon{
  fill: var(--blue);
  border-color: var(--blue);  
}
.lean-clients-link:focus {
  border-color: var(--blue); 
}
.lean-clients-link:focus .lean-clients-social-icon {
  fill: var(--blue);
  border-color: var(--blue); 
}


/* footer */

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
 
}

.footer-items:not(:last-child) {
  margin-bottom: 9px;
}

.footer-logo-item {
  text-decoration: none;
  list-style-type: none;
}

.contaner-position:not(:last-child) {
  margin-right: 70px;
}

.footer-logo-link {
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  font-weight: 700;

  font-size: 26px;
  line-height: 31px;
  /* identical to box height */

  letter-spacing: 0.03em;
  color: var(--white);
}
.address-first {
  margin-top: 20px;
  width: 231px;
  height: 81px;
}

.footer-contacts-list {
  list-style-type: none;
}

.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white);
  text-decoration: none;
}

.footer-contacts-mail,
.footer-contacts-phone {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
}

.footer-social-svg-item {
  text-decoration: none;
  list-style-type: none;
}

.footer-social-title {
  margin-bottom: 20px;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.footer-social {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social-link:hover {
  background-color: var(--blue);
}

.footer-social-link:hover .footer-social-icon {
  fill: var(--white);
}

.footer-social-icon {
  width: 20px;
  height: 20px;

  fill: var(--white);
}


.footer-social-link:focus {
  background-color: var(--blue);

}
.footer-social-link:focus .footer-social-icon {
  fill: var(--white);
}



/* portfolio */

.portfolio {
  background: var(--white);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  margin-bottom: 50px;
}
.portfolio-title-text {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  border-top: none;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.header-portfolio-container {
  padding-bottom: 94px;
}

.portfolio-button-press {
  padding: 6px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--dark);
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
}

.portfolio-button-press:focus {
  background: var(--blue);
  color: var(--white);
}

.portfolio-button-press:hover {
  background-color: var(--blue);
  color: var(--white);
}

.services-button,
.portfolio-button-press {
  cursor: pointer;
}

.portfolio-pictures-container {
  display: flex;
}

.portfolio-pictures-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.portfolio-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--dark);
  margin-bottom: 4px;
}
.portfolio-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--broun);
}

.portfolio-background {
  margin-right: 30px;
  margin-bottom: 30px;
  background: var(--white);
}
.portfolio-background:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-background:nth-child(3n) {
  margin-right: 0;
}

.portfolio-background:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.contacts-link:focus,
.footer-contacts-mail:focus,
.footer-contacts-phone:focus,
.adress:focus {
  color: var(--blue);
}
